.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--gutter-width);
  max-width: 850px;
  margin: auto;
}

.main h1 {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.main h1 span {
  color: #a9a69d;
  font-size: 1.5rem;
  font-family: 'Plovdiv', sans-serif;
  font-weight: normal;
}

@media (min-width: 600px) {
  .main h1 {
    font-size: 3rem;
  }

  .main h1 span {
    font-size: 2rem;
    color: #a9a69d;
  }
}

.intro {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
  flex-direction: column;
}

@media (min-width: 600px) {
  .intro {
    flex-direction: row;
  }
}

.main ol {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}

.main img {
  filter: drop-shadow(0px 0px 12px rgb(209, 173, 173));
  height: 8rem;
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .main img {
    filter: drop-shadow(0px 0px 12px rgb(209, 173, 173));
    height: 10rem;
  }
}

.footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.footer a {
  color: #a9a69d;
  margin-top: auto;
}

.main a {
  color: #8da2b7;
}

.input {
  margin-left: 1rem;
  width: 5ch;
  text-align: center;
}

.form {
  box-shadow: 0px 0px 8px white;
  background: #ffffff22;
  border-radius: 8px;
  padding: 1rem var(--gutter-width);
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.button {
  background-color: #34da9e;
  color: #27323f;
  margin: 0 auto 1rem auto;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.main ul {
  list-style: circle;
}

.main li {
  margin-left: 1.5rem;
  inset-inline: 0.5rem;
}

.form progress {
  height: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  fill: aqua;
  -webkit-appearance: none;
  border-radius: 12px;
  border: 1px solid white;
  overflow: hidden;
}

.form progress::-webkit-progress-bar {
  background-color: transparent;
  border-radius: 12px;
}

.form progress::-webkit-progress-value {
  background-color: rgb(192, 192, 192);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.intro p {
  margin-top: 1rem;
}

.intro span {
  color: #ff692f;
}
